.dropdown-menu {
    background: var(--marromclaro);
    width     : 200px;
    position  : absolute;
    top       : 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background: var(--creme);
    cursor    : pointer;
}

.dropdown-menu li:hover {
    background: var(--marromclaro);
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display        : block;
    height         : 100%;
    width          : 100%;
    text-decoration: none;
    color          : var(--primary);
    padding        : 16px;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
        display: none;
    }
}